/* global */
.container {
  width: 95%; }

p {
  font-size: 20px; }

html {
  scroll-behavior: smooth; }

h5 {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #c0ff00 100%, lightgray 100%);
  width: 170px;
  padding: 12px; }

.title_right {
  text-align: center;
  font-family: "Grenze Gotisch", cursive;
  width: 250px;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, yellow 100%, lightgray 100%);
  float: right; }

.title_left {
  text-align: center;
  font-family: "Grenze Gotisch", cursive;
  width: 250px;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, yellow 100%, lightgray 100%); }

/* navigation */
nav {
  font-family: "Grenze Gotisch", cursive;
  position: relative;
  border-radius: 5px; }

#brand {
  font-family: "Bangers", cursive; }

#menu {
  margin: auto;
  font-size: 20px; }

li {
  margin: 0px 20px; }

/* header */
.header {
  background-image: url(/static/img/1_.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
  font-family: "Oswald", sans-serif;
  margin: 75px; }

#ep_title {
  background: white;
  background: linear-gradient(90deg, white 0%, #dfd873 54%, lightgray 100%);
  font-weight: bold;
  color: black;
  width: 170px;
  padding: 12px; }

/* player */
#player_container {
  padding: 25px;
  background: white;
  background: linear-gradient(90deg, white 0%, #dfd873 54%, lightgray 100%);
  border-radius: 25px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  perspective: 400px; }

img {
  height: 100%;
  width: 100%; }

#player_left {
  width: 100%;
  box-shadow: -15px 10px 20px black;
  transform-origin: center left; }

#player_right {
  width: 100%;
  margin: 25px 0px;
  background-color: black;
  border-radius: 10px;
  overflow: auto;
  -moz-box-shadow: 10px 10px 15px #000000;
  -webkit-box-shadow: 10px 10px 15px #000000;
  box-shadow: 10px 10px 15px #000000; }

@media (min-width: 576px) {
  #player_container {
    perspective: 800px;
    padding: 40px; }

  #player_left {
    transform-origin: center left;
    transform: rotateY(45deg); } }
@media (min-width: 768px) {
  #player_container {
    perspective: 1500px;
    display: flex;
    flex-wrap: nowrap;
    height: 500px; }

  #player_right {
    margin: 0px 0px; } }
@media (min-width: 992) {
  #player_container {
    perspective: 3000px; } }
#now_playing {
  font-weight: bold; }

.playing_song {
  height: 60px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.fa-play-circle, .fa-pause-circle {
  font-size: 45px;
  color: #dfd873; }

.fa-play-circle:active, .fa-pause-circle:active {
  -moz-box-shadow: 3px 3px 5px 6px #282828;
  -webkit-box-shadow: 3px 3px 5px 6px #282828;
  box-shadow: 3px 3px 5px 6px #282828; }

.fas {
  color: #dfd873; }

.songs_title {
  margin: 10px; }

.progress {
  width: 30%;
  height: 10px;
  cursor: pointer; }

.progress-bar {
  background-color: #dfd873; }

.time_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  margin: 15px 15px 25px 15px;
  border-radius: 10px; }

.play {
  background-color: #222;
  margin: 25px 15px;
  border-radius: 10px; }

input[type=range] {
  width: 20%;
  -webkit-appearance: none;
  height: 5px;
  background: #dfd873;
  border-radius: 5px; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: black;
  cursor: pointer;
  border-radius: 50%; }

input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: black;
  cursor: pointer;
  border-radius: 50%; }

/*# sourceMappingURL=style.css.map */
