<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- title font-->
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Grenze+Gotisch:wght@100;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap" rel="stylesheet">

    <!-- paragraph font-->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- audio player script -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@5.2.0/dist/amplitude.js"></script>

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/1755d5abdd.js" crossorigin="anonymous"></script>

    <!-- My script -->
    <script src="/static/js/script.js"></script>

    <!-- navigator color Android -->
    <meta name="theme-color" content="#060606" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#060606">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#060606">

    <title>Kwata Spirit</title>
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="120">
    <!-- navigation bar -->
    <section id = "home">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#" id="brand">Kwata Spirit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav mr-auto" id="menu">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#music">Music</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#aboutS">About Sojip</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
    

      <!-- header-->
      <section>
          <div class="container">
              <div class="header">
                <h5>Nouvel EP Disponible</h5>
                <h1 id="ep_title">M.V.P</h1>
                <a type="button" href="#audioplayer" style="margin: 15px; color:#FFFFFF;font-size:20px; padding: 0 20px; border-radius: 5px; border: 1px solid #FFFFFF; width:100px;">Ecouter</a>
              </div>      
          </div>
      </section>

      
      <section id="music">
          <div class="container">
              <div>
                <h2 class="title_right">Music</h2>
              </div>   
          </div>   
      </section>


      <!-- audio player -->
      <section id="listen"> 
        <div class="container" style="margin-top: 200px; margin-bottom:100px; overflow:auto;" id="audioplayer">
            <div id="player_container">
              <div id="player_left">
                
                  <img src="/static/img/cover_ep.jpg" alt="cover_mvp" id="cover"/>

              </div>
  
              <div id="player_right">
                  <div class="play">
                 
                    <div class="playing_song">
                      <span id="now_playing">M.I-1 (Prod By Phill John)</span>
                      <span id="state"></span>
                      <i class="fas fa-play-circle" id ="playButton" onclick="playpause()" style="display: block;"></i> 
                      <i class="fas fa-pause-circle" id ="pauseButton" style="display: none;" onclick="playpause()"></i>
                    </div>

                    <div class="time_container">

                      <div class="time">  
                        <span id="start_time_mins">00</span>
                        <span>:</span>
                        <span id="start_time_secs">00</span>
                      </div>
                          
                      
                      <div class="progress" id="progress_">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" id="lectureProgress" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>  
                      </div>   
                      
                          
                      
                      <div class="time">
                        <span id="end_time_mins">02</span>
                        <span>:</span>
                        <span id="end_time_secs" style="margin-right: 5px">48</span>
                      </div>
                      
                          
                   
                      <i class="fas fa-volume-up"></i>
                      
                      <input type="range" min="0" max="1" step ="0.1" value="0.5" oninput="changeVolume(this.value)">

                      <!-- <div class="progress" id="progress_volume">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> -->
                    </div>

                    
                  </div>


                  

                  <div class="playlist">
                    
                    <ul class="list-group" style="margin-bottom: 20px;">
                      <li class="list-group-item">
                        <i class="fas fa-play"></i> <span class="songs_title">1 - M.I-1 (Prod By Phill John)</span>  
                        
                      </li>
                      <li class="list-group-item">
                        <i class="fas fa-play"></i> <span class="songs_title">2 - Ca Me Tchop Feat Eva Hakapoka (Prod By A.N.G)</span>
                        
                      </li>
                      <li class="list-group-item">
                        <i class="fas fa-play"></i> <span class="songs_title">3 - C'est Comme Ca Feat Magasco (Prod By AJ)</span>
                        
                      </li>
                      <li class="list-group-item">
                        <i class="fas fa-play"></i> <span class="songs_title">4 - Défilé Feat Cysoul (Prod By A.N.G)</span>
                        
                      </li>
                      <li class="list-group-item">
                        <i class="fas fa-play"></i> <span class="songs_title">5 - Percé (Prod By Riven Sound)</span>
                        
                      </li>
                      <li class="list-group-item">
                        <i class="fas fa-play"></i> <span class="songs_title">6 - On Te Wait (Prod By Dj All)</span>
                        
                      </li>
                      <li class="list-group-item">
                        <i class="fas fa-play"></i> <span class="songs_title">7 - Piment Fort Feat Cysoul (Prod By Melvin Beats)</span>
                        
                      </li>
                      <li class="list-group-item">
                        <i class="fas fa-play"></i> <span class="songs_title">8 - Bolo (Prod By Track)</span>
                        
                      </li>
                    </ul>
                </div>

             
  
              </div>
  
            </div>


        </div>
      </section>


      <section id="aboutS">
        <div class="container">
            <div>
              <h2 class="title_left">About Sojip</h2>
            </div>   
        </div>   
    </section>

    <section id="aboutSojip">
      <div class="container" id="about">
           
        <p>
          C’est un 26 Octobre dans la ville de Bafoussam à l’Ouest du Cameroun que l’artiste SOJIP de son vrai nom « FRANCK QUANTIN SOJIP » voit le jour. 
          Il se familiarise très rapidement à la musique en général et au rap en particulier dès son plus jeune âge et se laisse bercé par des artistes tels que : 
          KROTAL, BANTOU PO SI, ou encore AK SANG GRAVE.
          Ses études primaires et secondaires se déroulent entre les villes de Bafoussam et de Yaoundé et c’est après l’obtention de son Baccalauréat C qu’il rejoint la ville 
          de Douala en 2012. Aujourd’hui il est titulaire d’un diplôme d’ingénieur en réseaux et télécoms obtenu à la Faculté  de Génie Industriel (FGI) de l’Université de Douala, aujourd’hui renommée Ecole Polytechnique Douala. 
          Diplôme en main, l’artiste décide de se consacrer entièrement à la musique avec un style bien propre à lui et très original dans lequel il évoque les maux de la société
          camerounaise en particulier et du monde en général de façon ironique, parfois satirique tout en restant mélancolique.
        </p>
      
      </div>
    </section>












    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>