$title_police: 'Grenze Gotisch', cursive;
$navbar_brand_police: 'Bangers', cursive;
$text_font: 'Oswald', sans-serif;
$text_color: #D3D3D3;
$green: #C0FF00;
$yellow: #dfd873;

/* global */
.container {
    width: 95%;


}

p {
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

h5 {
    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(192,255,0,1) 100%, rgba(211,211,211,1) 100%);
    width: 170px;
    // margin: auto;
    padding: 12px;
}

.title_right {
    text-align: center;
    font-family: $title_police;
    width: 250px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,0,1) 100%, rgba(211,211,211,1) 100%);

    // background: rgb(0,0,0);
    // background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(64,64,64,1) 12%, rgba(211,211,211,1) 100%);
    
    float: right;
}

.title_left {
    text-align: center;
    font-family: $title_police;
    width: 250px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,0,1) 100%, rgba(211,211,211,1) 100%);
   
}

/* navigation */

nav {
    font-family: $title_police;
    position: relative;
    border-radius: 5px;
}
 

#brand {
    font-family: $navbar_brand_police;
}

#menu {
    margin: auto;
    font-size: 20px; 
}

li {
    margin: 0px 20px
}

/* header */

.header {
    background-image: url(/static/img/1_.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    // padding: 200px;
    height: 500px;
    font-family: $text_font;
    margin: 75px;
}


#ep_title {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(223,216,115,1) 54%, rgba(211,211,211,1) 100%);
    // background: rgb(2,0,36);
    // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(192,255,192,1) 48%, rgba(211,211,211,1) 100%);
    font-weight: bold;
    color: black;
    width: 170px;
    // margin: 15px auto;
    padding: 12px;
}

/* player */

#player_container {
    padding: 25px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(223,216,115,1) 54%, rgba(211,211,211,1) 100%);
    // background: rgb(2,0,36);
    // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(192,255,192,1) 48%, rgba(211,211,211,1) 100%);
    border-radius: 25px;
    height: 600px;
    display:flex;
    // justify-content: space-evenly;
    flex-wrap: wrap;
    perspective: 400px;
    font-family: $text_font;
  

 
}


img {
   height: 100%;
   width: 100%; 
}


#player_left{
    width: 100%;
    box-shadow: -15px 10px 20px black;
    transform-origin: center left;


  
}


#player_right{
    width: 100%;
    margin: 25px 0px;
    background-color: black; 
    border-radius: 10px;
    overflow: auto;
 
    -moz-box-shadow:    10px 10px 15px #000000;
    -webkit-box-shadow: 10px 10px 15px #000000;
    box-shadow:          10px 10px 15px #000000;

}

@media(min-width:576px){
    #player_container {
        perspective: 800px;
        padding: 40px;
        
    }

    #player_left {
        transform-origin: center left;
        transform: rotateY(45deg);
   
    }
}

@media(min-width:768px){
    #player_container {
        perspective: 1500px;
        display:flex;
        flex-wrap: nowrap;
        height: 500px;
    }
    #player_right {
        margin: 0px 0px;
    }
}

@media(min-width:992){
    #player_container {
        perspective: 3000px;
    }
}

#now_playing {
    font-weight: bold;
}

.playing_song{
    height: 60px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.fa-play-circle, .fa-pause-circle {
    font-size: 45px;
    color: $yellow;
}

.fa-play-circle:active, .fa-pause-circle:active {
    -moz-box-shadow: 3px 3px 5px 6px #282828;
    -webkit-box-shadow: 3px 3px 5px 6px #282828;
    box-shadow: 3px 3px 5px 6px #282828;
}

.fas {
    color: $yellow;
}

.songs_title {
    margin: 10px;
}

.progress {
    width: 30%;
    height: 10px;
    cursor: pointer;
}

.progress-bar {
    background-color: $yellow;
}

.time_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    margin: 15px 15px 25px 15px;
    border-radius: 10px;
    
}


.play {
    background-color: #222;
    margin: 25px 15px;
    border-radius: 10px;
    
}

input[type=range] {
    width: 20%;
    -webkit-appearance: none;
    height: 5px;
    background: $yellow;
    border-radius: 5px;    
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: black;
    cursor: pointer;
    border-radius: 50%;
  }

input[type=range]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: black;
    cursor: pointer;
    border-radius: 50%;
  }

.time {
    font-size: 12px;
}



/* About Sojip */

#about {
    height: 100%;
    font-family: $text_font;
    margin-top: 100px; 
    margin-bottom:100px;
    padding: 10px;
    background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 0, 0.75), 
      rgba(0, 0, 0, 0.75)
    ),
    /* bottom, image */
    url(/static/img/3_.png);

    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: right top;
  
    
}

@media(min-width:576px) {
    #about {
        height: 500px;
        display: flex;
        align-items: center;
        background-position: right top;

    }
}
@media(min-width:768px) {
    #about {
        padding-left:10%;
        padding-right: 15%;
        
    }
}